:root {
    --contrPos: 230px;
    --feedbackMaxHeight: 800px;
    
    
    /* var(--backgroundDark) var(--backgroundDark);
    var(--textColorMain) var(--textColorMain);
    var(--middleGrayBorder) var(--middleGrayBorder);    
    var(--darkerGrayBackgrounds) var(--darkerGrayBackgrounds);
    var(--mainBlue) var(--mainBlue);
    var(--backgroundSth) var(--backgroundSth);
    var(--blueFont) var(--blueFont);
    var(--hoveredBlue) var(--mainBlue);
    var(--pinkFont) var(--pinkFont);
    var(--whiteBorder) var(--textColorMain);
    var(--lightPingFont) var(--lightPingFont);
    var(--whiteBorderDif) var(--whiteBorderDif);
    var(--anotherWhiteFont) var(--anotherWhiteFont);
    var(--grayBackground) var(--backgroundSth);
    var(--chapterIcon) var(--chapterIcon);
    var(--codeNumber) var(--codeNumber);
    var(--codeKeyword) var(--codeKeyword);
    var(--codeComment) var(--codeComment);
    var(--dotsHoverWTF) var(--dotsHoverWTF);
    var(--expDotsHoverWTF) var(--expDotsHoverWTF); */
    
}
.themeDark {
    color-scheme: dark;
    --buttonBlue: #75b6e7;
    --backgroundDark: #171717;
    --textColorMain: #e6e6e6;
    --middleGrayBorder: #404040;    
    --darkerGrayBackgrounds: #2f2f2f;
    --mainBlue: #278cda;
    --backgroundSth: #8e8e8e0d;
    --blueFont: #75b6e7;
    --hoveredBlue: #278cda;
    --pinkFont: #ac7ee1;
    --whiteBorder: #e6e6e6;
    --lightPingFont: #e5a7a8;
    --whiteBorderDif: #d2d2d2;
    --anotherWhiteFont: #c6c6c6;
    --grayBackground: #8e8e8e0d;
    --chapterIcon: #f6f6f6;
    --codeNumber: #b5cea8;
    --codeKeyword: #569cd6;
    --codeComment: #63b456;
    --dotsHoverWTF: #004173;
    --expDotsHoverWTF: #9ccbee;
    --almostBlack: #00000080;
    --footerBackground: #091f2c;
    --placeholderFont: #d0d0d0;
    --invertedThemeColor: black;
    --themeBoW: white;
    --contrastBorder: #ffffff00;
    --activeContentColor: inherit;
    --codeHeaderBackground: #404040;
}
.themeLight {
    color-scheme: light;
    --backgroundDark: white;
    --almostBlack: #00000080;
    --textColorMain: #161616;
    /* 
    --anotherWhiteFont: #c6c6c6;
    --whiteBorder: #e6e6e6;
    --codeNumber: #b5cea8;
    --placeholderFont: #d0d0d0; */
    --grayBackground: #8e8e8e0d;
    --codeComment: green;
    --codeKeyword: #0101fd;
    --darkerGrayBackgrounds: #f2f2f2;
    --footerBackground: #e8e6df;
    --expDotsHoverWTF: #004173;
    --dotsHoverWTF: #d7eaf8;
    --backgroundSth: #8e8e8e0d;
    --whiteBorderDif: #505050;
    --middleGrayBorder: #e6e6e6;    
    --chapterIcon: #161616;
    --pinkFont: #ac7ee1;
    --pinkFont: #624991;
    --lightPingFont: #e5a7a8;
    --mainBlue: #0065b3;
    --blueFont: #0065b3;
    /* --blueFont: #278cda; */
    --buttonBlue: #0078d4;
    --hoveredBlue: #0065b3;
    --invertedThemeColor: white;
    --themeBoW: black;
    --contrastBorder: #ffffff00;
    --activeContentColor: inherit;
    --codeHeaderBackground: #e6e6e6;
}
.themeContrast {
    color-scheme: dark;
    --buttonBlue: yellow;
    --backgroundDark: black;
    --darkerGrayBackgrounds: black;
    --textColorMain: white;
    --middleGrayBorder: white;    
    --mainBlue: yellow;
    --blueFont: yellow;
    --pinkFont: #3cff00;
    --hoveredBlue: yellow;
    --contrastBorder: #ffffffff;
    --activeContentColor: yellow;
    --footerBackground: black;
    --dotsHoverWTF: black;
    --expDotsHoverWTF: yellow;
    
    --backgroundSth: #8e8e8e0d;
    --whiteBorder: #e6e6e6;
    --lightPingFont: #e5a7a8;
    --whiteBorderDif: #d2d2d2;
    --anotherWhiteFont: #c6c6c6;
    --grayBackground: #8e8e8e0d;
    --chapterIcon: #f6f6f6;
    --codeNumber: #b5cea8;
    --codeKeyword: #569cd6;
    --codeComment: #63b456;
    --almostBlack: #00000080;
    --placeholderFont: #d0d0d0;
    --invertedThemeColor: black;
    --themeBoW: white;
    --codeHeaderBackground: none;
}
* {
    box-sizing: border-box;
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.125;
    /* box-shadow: inset 0px 0px 5px 0px rgba(255, 100, 100, 1); */
    
}
strong {
    font-weight: 600;
}
.fixedPosition {
    position: fixed;
    /* top: 0px; */
    left: 0px;
    width: -webkit-fill-available;
    width: -moz-available;
    overflow-y: scroll;
}
.mobileBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--almostBlack);
    z-index: 1;
}
.svgTheme {
    width: 40px;
    height: 10px;
}
body {
    margin: 0;
    background-color: var(--backgroundDark);
    color: var(--textColorMain);
    line-height: 160%;
}
.hamburgerIcon, .hamburgerMobile {
    display: none;
}
.xUp, .xDown { 
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    transform-origin: 1px 7px;
    border-bottom: 2px solid var(--textColorMain);
    border-left: 2px solid var(--textColorMain);
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    column-gap: 8px;
    font-size: 16px;
    height: 3.375rem;
    padding: 0 24px 0 24px;
    border-block-end: 1px solid var(--middleGrayBorder);
}
.header * {
    user-select: none;
}
.headerPanel {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 53px;
    min-height: 369px;
    width: 100%;
    z-index: 1;
    padding: 32px 24px;
    background: var(--darkerGrayBackgrounds);
    cursor: default;
    text-decoration: none;
    border: 1px solid var(--contrastBorder)
}
.headerPanel * {
    color: var(--textColorMain);
}
.headerPanel *:hover {
    text-decoration: none;
}
.headerPanelFeature article, .panelCards li article {
    padding: 16px;
    position: relative;
    border: 1px solid var(--contrastBorder)
}
.panelCards {
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 9px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
}
.panelCards li {
    list-style: none;
    padding: 0;
}
.headerPanelContent {
    width: 100%;
    padding-right: 16px;
}
.headerPanelFeature article:hover, .panelCards li article:hover, .panelCards li:hover {
    background: var(--footerBackground);
}
.panelCards li article a {
    text-decoration: none;
}
.headerPanelFeature article a:hover, .panelCards li article a:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
}
.headerPanelFeature article a:before, .panelCards li article a:before {
    z-index: 1;
    content: "";
    position: absolute;
    inset: 0;
}
.headerPanelFeature article p:last-child, .panelCards li p:last-child {
    white-space: normal;
    margin-top: 9px;
    display: -webkit-box;
    line-height: 1.25;
    /* line-height: 25.6px; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
} 
.headerPanelFeature  article p:first-child {
    line-height: 12px;
    font-size: 12px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
} 
.headerPanelFeature p, .panelCards li p { 
    margin: 0;
    line-height: 20px;
}
/* .panelCards li p {
    margin-top: 9px;
} */
.headerPanelFeature {
    /* white-space: wrap; */
    max-width: 25%;
    min-width: 260px;
    border-inline-start: 1px solid #505050;
    padding-left: 16px;
}
.headerPanelFeature a, .panelCards li article a {
    display: block;
    margin-top: 9px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.panelCards li a {
    text-decoration: none;
    margin: 0;
}
.panelCards li a:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
}
.panelCards.panelList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat( 11, auto);
}
.panelCards.panelList li {
    font-size: 14px;
    cursor: pointer;
}
.panelCards.panelList a {
    padding: 7px;
    padding-left: 10px;
    display: inline-block;
    width: 100%;
}
.headerPanelFeature p {
    overflow-wrap: break-word;
}
.logo, .svg {
    width: 26px;
    height: 26px;
}
.logo:hover {
    cursor: pointer;
}
.divider {
    border-inline-start: 2px solid var(--whiteBorderDif);
    height: 1.5rem;
    margin-left: 8px;
}
.learn {
    font-size: 20px;
    font-weight: 600;
    padding: 6.5px 8px;
    line-height: 160%;
}
.learn:hover, .navbarBigButton:hover, .expanderElement:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    cursor: pointer;
}
.navbarBigButton:hover, .expanderElement:hover {
    text-underline-offset: 4px;
}
.expElemTop {
    order: 1;
}
.expElemTop:hover {
    text-underline-offset: 4.5px;
}
.activeTop {
    background-color: var(--darkerGrayBackgrounds);
}
.activeTop:hover {
    text-decoration: none;
}
.expanders {
    height: 100%;
    display: flex;
    font-size: 14px;
}
.expTop {
    /* column-gap: 8px; */
}
/* .expElemTop:last-child {
    padding-right: 0;
    background-color: var(--middleGrayBorder);
} */
.expanderElement {
    display: flex;
    align-items: center;
    padding: 4.25px 8px;
    white-space: nowrap;
}
.expElemBot {
    position: relative;
    padding: 0 8px;
    /* background-color: gray; */
    line-height: normal;
}
.expandIndicator {
    display:inline-block;
    width: 12.25px;
    height: 10px;
    margin-left: 4.6px;
}
.expandIndicator::before {
    content: "";
    display:inline-block;
    width: 6px;
    height: 6px;
    margin-left: 2px;
    margin-bottom: 19px;
    border: 1px var(--chapterIcon) solid;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

ul.expanderList {
    box-sizing: content-box;
    list-style: none;
    left: 0;
    top: -2px;
    padding: 0;
    padding-bottom: 8px;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 3.375rem;
    width: auto;
    height: auto;
    background-color: var(--darkerGrayBackgrounds);
    border: 1px solid var(--middleGrayBorder);
    border-top: none;
}
ul.expanderList li {
    line-height: 21px;
    padding: 8px 16px;

    }
ul.expanderList li * {
    background-color: darkgreen;
}




.rotateToRight {
    transform: rotate(270deg);
}
.rotateToLeft {
    transform: rotate(90deg);
}
/* .expIndSmall {
    width: 12px;
    margin-left: 4px;
} ??????????????????? */
.signIn, .dashboard {
    font-size: 14px;
}
.dashboard {
    margin-left: auto;
    color: var(--invertedThemeColor);
    /* border: 1px solid var(--blueFont);
    background-color: var(--blueFont); */
    border: 1px solid var(--buttonBlue);
    background-color: var(--buttonBlue);
    font-weight: 600;
    line-height: 1.5;
    padding: 4.25px 10.5px;
    border-radius: 2px;
}
.dashboard:hover {
    border: 1px solid var(--hoveredBlue);
    background-color: var(--hoveredBlue);
    cursor: pointer;
}
.searchButton {
    min-width: 39px;
    height: 36px;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    border-radius: 2px;
    /* background-color:#cecece63; */
}
.searchButton:hover {
    background-color:var(--backgroundSth);
}
.search {
    display: block;
    width: 14px;
    height: 15px;
    margin-left: auto;
    margin-right: 13px;
    /* padding: 13px; */
    transform: translate(0%, 70%);
}
.search::before, .search::after { 
	content: "";
	display: block;
	width: 6px;
	height: 6px;
}
.search::before {
    border-radius: 50%;
    border: 0.15rem var(--textColorMain) solid;
}
.search::after {
    border-block-end: 0.15rem var(--textColorMain) solid;
    transform: translate(160%, -76%) rotate(45deg);
}
.closeSearch {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(45deg)
}
.closeSearch::before, .closeSearch::after {
	content: "";
	height: 14px;
	border-left: white 1px solid;
	position: absolute;
	display: block;
}
.closeSearch::before {
	transform: rotate(90deg)
}
.searchBar {
    position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}
.searchBar input {
	width: 100%;
	height: 31.5px;
	background-color: unset;
	border: 1px var(--textColorMain) solid;
	border-radius: 4px;
	padding-left: 8px;
}
.searchBar ul {
    background-color: var(--backgroundDark);
    border: var(--middleGrayBorder) 1px solid;
    width: 100%;
    position: absolute;
    top: 28px;
    list-style-type: none;
    padding: 8px;
    z-index: 1;
}
.searchBar ul li { 
    color: var(--textColorMain);
    line-height: 25.6px;
    font-size: 16px;
    padding: 0 8px;
}
.searchBar ul li span {
    display: block;
    font-size: 14px;
    padding: 6px 0 7px;
}
.searchBar ul li:hover, .suggestionActive {
    background-color: var(--darkerGrayBackgrounds);
    outline: dashed white 2px;
    outline-offset: -2px;
}
.inputAwait {
    position: absolute;
    right: 10px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: var(--mainBlue) solid 3px;
    border-left: rgba(0, 0, 255, 0) solid 3px;
    border-bottom: rgba(0, 0, 255, 0) solid 3px;
    animation: spin .6s infinite linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
.button {
    display: flex;
    align-items: center;
}
#rightArrow {
    position: absolute;
    right: 120px;
}
#rightArrow, #leftArrow {
    /* position: absolute; */
    /* right: 120px; */
    height: 53px;
    padding-right: 11px;
    padding-left: 6px;
    /* background-color: var(--middleGrayBorder); */
}
#leftArrow:hover, #rightArrow:hover {
    background-color: var(--backgroundSth);
    cursor: pointer;
}
.signIn {
    line-height: 160%;
    color: var(--blueFont);
    white-space: nowrap;
}
.signIn:hover {
    color: var(--mainBlue);
    text-decoration: underline;
    cursor: pointer;
}
.navbarBigButton {
    padding-right: 8px;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}
.contributorsFrame {
    position: fixed;
    width: 300px;
    background-color: var(--backgroundDark);
    border: 1px solid var(--middleGrayBorder);
    border-radius: 7px;
    overflow: hidden;
    top: max(50%, var(--contrPos));
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}
div.contributorsFrame header {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 8px 20px;
    border-bottom: 1px solid var(--middleGrayBorder);
}
div.contributorsFrame header span {
    line-height: 25.6px;
    padding: 8px 0 16px 0;
}
.closeContributors .closeIcon {
    position: relative;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 0px;
    /* background-color: red; */
}
.closeContributors .closeIcon:hover {
    cursor: pointer;
}
.closeContributors .closeIcon:hover .xUp, .closeContributors .closeIcon:hover .xDown {
    border-color: white;

    box-shadow: -5px 5px 9px -2px white;
    /* box-shadow: -3px 3px 4px -2px white; */
}

.closeContributors .xUp {
    transform: translate(9px, 3px) rotate(-45deg) scale(0.7)
}
.closeContributors .xDown {
    transform: translate(9px, 3px) rotate(135deg) scale(0.7)
} 
.contributorsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contributorElem {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 16px;
    border-bottom: 1px solid var(--middleGrayBorder);
    border-left: 3px solid var(--middleGrayBorder);
}
.contributorElem:hover {
    background-color: var(--darkerGrayBackgrounds);
}
.contributorPicture {
    display: inline-block;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--middleGrayBorder);
}
.contributorName:link {
    padding-left: 16px;
    text-decoration: none;
    color: var(--blueFont);
    
}
.contributorName:visited {
    color: var(--pinkFont);
}
.contributorName:hover {
    text-decoration: underline;
}
.feedbackFrame {
    background-color: var(--backgroundDark);
    border: 1px solid var(--middleGrayBorder);
    border-radius: 7px;
    position: fixed;
    width: 450px;
    height: auto;
    max-height: var(--feedbackMaxHeight);
    overflow-y: auto;
    left: 50%;
    top: 50%;
    padding: 24px;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}
.feedbackFrame > h2 {
    font-size: 24px;
    font-weight: 600;
    padding: unset;
    margin: unset;
}
.closeFeedback {
    display: block;
    position: absolute;
    right: 10px;
    appearance: unset;
    border: unset;
    background-color: unset;
    width: 20px;
    height: 20px;
    padding: unset;                 
    cursor: pointer;
}
.closeFeedback .closeIcon {
    transform: translateY(-10px) scale(.75)
}
.closeFeedback .xUp {
    transform: translate(9px, 3px) rotate(135deg);
}
.closeFeedback .xDown {
    transform: translate(9px, 3px) rotate(-45deg);
}
.closeFeedback:hover .closeIcon .xUp, .closeFeedback:hover .closeIcon .xDown {
    border-color: var(--themeBow);

    box-shadow: -5px 5px 28px -2px var(--themeBow);
    box-shadow: -5px 5px 28px 0px var(--themeBow);
    /* box-shadow: -3px 3px 4px -2px white; */
}
.feedbackForm {
    margin-top: 16px;
}
.feedbackThumbs {
    padding-top: 6px;
}
.feedbackThumbs button {
    font-size: 14px;
    color: var(--buttonBlue);
    font-weight: 600;
    height: 32px;
    width: 60px;
    background-color: unset;
    border-color: var(--buttonBlue);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    margin-right: 5px;
    cursor: pointer;
}
.feedbackThumbs button:hover {
    background-color: rgb(0, 65, 115);
    background-color: var(--dotsHoverWTF);
    color: var(--blueFont);
}
.feedbackThumbs button.clickedBtn {
    background-color: var(--buttonBlue);
    color: var(--invertedThemeColor);
}
.feedbackThumbs button.clickedBtn:hover {
    background-color: var(--hoveredBlue);
    border-color: var(--hoveredBlue);
    color: var(--invertedThemeColor);
}
.feedbackBottom {
    display: flex;
    justify-content: space-between;
    height: 10%;
}
.submitButton {
    background-color: var(--buttonBlue);
    height: 31px;
    width: 68px;
    border-color: var(--buttonBlue);
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    color: var(--invertedThemeColor);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    /* padding: 3px 10px; */
}
.submitButton:hover {
    background-color: var(--hoveredBlue);
    border-color: var(--hoveredBlue)
}
.privacyPolicy {
    text-decoration: none;
    color: var(--blueFont);
    font-size: 12px;
    cursor: pointer;
    line-height: 160%;
    margin: 8px 0px 8px 0px;
}
.privacyPolicy:hover {
    text-decoration: underline;
    color: var(--hoveredBlue)
}
.feedbackLinks {
    margin-top: 16px;
}
.feedbackLinks * {
    text-decoration: none;
    color: var(--blueFont);
    font-size: 14px;
    cursor: pointer;
}
.feedbackLinks a:hover {
    text-decoration: underline;
    color: var(--hoveredBlue)
}
.dividerLine {
    color: var(--textColorMain);
    margin: 0 8px 0 8px;
    cursor: unset;
}
.feedbackThanks {
    position: fixed;
    color:var(--textColorMain);
    line-height: 25.6px;
    background-color: var(--backgroundDark);
    border: 1px solid var(--middleGrayBorder);
    border-radius: 7px;
    width: 448px;
    padding: 24px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    box-sizing:border-box;
}
.feedbackThanks h2 {
    font-size: 20px;
    font-weight: 600;
    margin: unset;
}
.feedbackThanks p {
    margin-bottom: unset;
    margin-top: 16px;
}

label {
    display: flex;
}
fieldset {
    border: none;
    padding: unset;
    margin: unset;
    line-height: 25.6px;
}
form fieldset {
    margin-top: 12px;
    margin-bottom: 12px;
}
fieldset legend {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}
.requiredStar {
    color: var(--lightPingFont);
}
fieldset label {
    margin-bottom: 8px;
    position: relative;
}
fieldset label:last-child {
    margin-bottom: 0;
}
.checkboxLabel {
    cursor: pointer;
}
.checkboxLabel input {
    display: none;
    width: 0;
    height: 0;
}
.checkbIcon {
    width: 20px;
    height: 20px;
    border: 1px var(--whiteBorderDif) solid;
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color .2s;
    transition-timing-function: cubic-bezier(.4,0,.23,1);
}
.checkbIcoHov:before, .checkbIcoChecked:before {
    content: "";
    display: block;
    /* position: relative; */
    width: 10px;
    height: 4px;
    transform: translateX(3px) translateY(5px) rotate(-45deg);
}
/* .checked needs to be lower than .hov, so .hov doesn't draw on top */
.checkbIcoHov:before {
    border-bottom: 1px solid var(--whiteBorderDif);
    border-left: 1px solid var(--whiteBorderDif);
}
.checkbIcoChecked {
    background-color: var(--buttonBlue);
    border-color: var(--buttonBlue);
}
.checkbIcoChecked:before {
    border-bottom: 1px solid var(--invertedThemeColor);
    border-left: 1px solid var(--invertedThemeColor);
}

/* .checkbIcon:before {
    position: absolute;
    content: "";
    inset: 0;
}
.checkbIcon:hover {
    background-color: pink;
} */
.inputError {
    color: var(--lightPingFont);
    font-size: 14px;
    line-height: 1;
    margin: 0;
}
.tellMore {
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
}
#feedbackTextArea {
    background-color: unset;
    font-size: 16px;
    padding: 5px 9px 5px 9px;
    line-height: 150%;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 108px;
    margin-top: 8px;
    resize: vertical;
    border-color: var(--whiteBorderDif);
    border-radius: 2px;
    margin-bottom: 12px;
}
#feedbackTextArea:hover {
    border-color: var(--blueFont);
}
#feedbackTextArea:focus-visible {
    box-shadow: 0 0 0 0.125rem var(--blueFont);
    outline: var(--blueFont) 1px solid;
    border: 1px solid var(--blueFont);
}
.main {
    height: 1500px;
    height: 100%;
    display: flex;
}
.column {
    height: auto;
    width: 33.3333%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}
.column > * {
    box-sizing: border-box;
    width: auto;
    height: 100%;
}
.filterInput, .downloadPDF, .bredrumbsContainer {
    /* min-height: 31.5px; */ /*nope*/
    /* height: 31.5px; */ /*also no*/
    max-height: 31.5px;
    background-color:var(--backgroundDark);
}
.filterInput {
    outline: var(--textColorMain) 0px solid;
    box-sizing: border-box;
    border: 1px solid var(--whiteBorderDif) ;
    border-radius: 4px;
    min-height: 1.65rem;
    font-weight: 400;
    font-size: 14px;
    padding: 4.25px;
    padding-left: 31.5px;
    color:var(--anotherWhiteFont);
}
.filterInput:hover {
    cursor: text;
    outline-color:var(--blueFont);
    border: 1px solid var(--blueFont);
}
.filterInput:focus {
    box-shadow: 0 0 0 0.125rem var(--blueFont);
    outline: var(--blueFont) 1px solid;
    border: 1px solid var(--blueFont);
}
::placeholder {
    font-weight: 400;
    color: var(--placeholderFont);
}
.pdfContainer {
    border-block-end: 1px solid var(--middleGrayBorder);
    border-block-start: 1px solid var(--middleGrayBorder);
    height: auto;
}
.downloadPDF {
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    padding-left: 28px;
}
.downloadPDF:hover {
    background-color: var(--backgroundSth);
    cursor: pointer;
}
.tableOfContent {
    font-size: 14px;
    line-height: 160%;
    margin-top: 8px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
.tableOfContent > * {
    font-size: 14px;
    line-height: 160%;
    line-height: 183%;
    padding: 2px 0 2px 8px;
    cursor: pointer;
    user-select: none
}
.chapterIndicatorContainer {
    position: absolute;
    margin-left: -13px;
    margin-top: 8px;
    width: 25px;
    height: 10px;
}
.chapterIndicatorIcon {
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    box-sizing: border-box;
    border: var(--chapterIcon) 1.8px solid;
    border-top: none;
    border-left: none;
    transition: transform .15s;
    transform-origin: 75% 75%;
}
.rotateClass {
    transform: rotate(45deg);
}
.contentChapter {
    position: relative;
    padding-left: 16px
}
/* .contentExpanded {
    margin-left: 8px;
} */
.lineThin:hover {
    text-decoration: underline;
    /* text-decoration-thickness: 2px;
    text-underline-offset: 5px; */
}
.contentExpanded > *{
    line-height: 183%;
    padding: 2px 0 2px 16px;
}
.activeContent {
    background-color: var(--darkerGrayBackgrounds);
    font-weight: 600;
    color: var(--activeContentColor)
}
/* .article > *:nth-child(odd)  {
    background-color: var(--footerBackground);
} */
/* .article > *:nth-child(even)  {
    background-color: var(--middleGrayBorder);
} */
.article > * {
    width: auto;
}
p {
    line-height: 160%;
}

.article {
    position: relative;
    height: 100%;
    /* height: 5400px; */
    width: 66.6667%;
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.article h2:not(.navbarTitle) {
    font-size: 34px;
    font-weight: 600;
}
.article a {
    text-decoration: none;
    color: var(--blueFont);
}
.article a:hover {
    text-decoration: underline;
    color: var(--hoveredBlue);
}
.codeContainer {
    border: 1px solid var(--codeHeaderBackground)
}
.codeHeader {
    background-color: var(--codeHeaderBackground);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding-left: 16px;
    border: 1px solid var(--contrastBorder);
}
.language {
}
.codeHeader button {
    color: var(--textColorMain);
    background-color: unset;
    border: 1px solid var(--middleGrayBorder);
    padding: 6px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 7px;
}
.codeHeader button:hover {
    background-color: var(--darkerGrayBackgrounds);
    cursor: pointer;
}
pre {
    background-color: var(--darkerGrayBackgrounds);
    font-size: 14px;
    margin: 0;
    overflow: overlay;
    overflow-y: clip;
    border: 1px solid var(--middleGrayBorder);
    /* padding-right: 10px; */
}
code * {
    line-height: 19px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace !important;
}
.number {
    color: var(--codeNumber);
}
.keyword {
    color: var(--codeKeyword);
}
.comment, .comment * {
    color: var(--codeComment);
}

.feedbackFooter h2 {
    font-size: 28px;
    font-weight: 600;
}
.feedbackFooter p {
    display: inline;
    font-size: 14px;
    font-weight: 600;
}
.feedbackFooter a {
    font-size: 14px;
}
.breadcrumb {
    /* position: relative; */
    height: auto;
    height: 50px;
    width: max-content;
}
ul.breadcrumb {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 10.25px;
    /* padding-bottom: 55.25px; */
}
ul.breadcrumb li {
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}
ul.breadcrumb li a {
    color: var(--pinkFont);
    text-decoration: none;
}
ul.breadcrumb li:after {
    padding: 4px;
    color:var(--anotherWhiteFont);
    content: "\00a0/"
}
ul.breadcrumb li a:hover {
    text-decoration: underline;
}
.dots:hover {
    cursor: pointer;
    background-color:var(--dotsHoverWTF);
}





.detailsContainer {
    display: inline-block;
    position: relative;
}
.detailsContainer * {
    display: inline-block;
}
.detailsContainer:after {
    display: inline-block;
    color:var(--anotherWhiteFont);
    content: "/\00a0"
}
summary {
    list-style: none;
}
.popover {
    position: absolute;
    display: block;
    background:var(--backgroundDark);
    border-radius: 2px;
    border: 1px solid var(--middleGrayBorder);
    width: 224px;
    height: auto;
    top: 32px;
    left: -3px;
}
div.popover *::after {
    display: none;
}
ol.popNavList {
    padding: 0;
}
ol.popNavList li {
    display: block;
    padding: 8px 16px;
    /* -webkit-line-clamp: 1 !important; */
}
ol.popNavList a {
    line-height: 160%;
    height: 25.5px;
    /* display: flex;
    align-items: center; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
.breadSummary {
    position: relative;
    cursor: pointer;
}
.expDots:hover {
    background-color: var(--dotsHoverWTF);
    color: var(--expDotsHoverWTF);
    border-radius: 4px;
    }
.expDots {
    width: 32px;
    height: 31px;
    font-size: 18px;
    font-weight: 300;
    color: var(--expDotsHoverWTF);
    position: relative;
    /* right: -10px; */
    top: -2px;
    user-select: none; 
    display: flex;
    justify-content: center;
}

/* .breadSummary {
    display: inline-block; */
    /* display: ruby; */
    /* user-select: none;
    position: relative;
}
.breadSummary > summary {
    list-style: none;
}
.breadSummary:after {
    display: inline-block;
    color:var(--anotherWhiteFont);
    content: "/\00a0"
}*/
.dots {
    position: relative;
    margin-right: 5px;
    left: 4px;
    border-radius: 2px;
    padding: 16.5px;
    padding-top: 6px;
    padding-bottom: 10px;
    bottom: 8px;
}
/*.expDots {
    top: 0;
    margin-right: 4px;
    padding-left: 19px;
    padding-bottom: 7px;
} */

/* .dots {
    position: relative;
    margin-right: 5px;
    left: 3px;
    border-radius: 2px;
    padding: 13px;
    padding-top: 0;
    padding-bottom: 10px;
    bottom: 4px;
} */

/* .dotsIcon {
    top: -10px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 18px;
    font-weight: 300;
    color:var(--blueFont);
} */

.editorButtons, .editorButtons > * {
    display: inline-block;
    margin-right: 0;
}
.editorButtons {
    position: absolute;
    right: 0;
    padding-right: 24px;
    width: fit-content;
    box-sizing: content-box;
    /* display: flex; */
}
.edButton {
    /* background-color: white; */
}
.articleTitle {
    margin-block-start: -5px;
    margin-block-end: 0px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
}
.metaContainer {
    font-size: 14px;
    font-weight: 400;
    color: var(--whiteBorderDif);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}
ul.metaList {
    list-style: none;
    padding-inline-start: 0;
}
ul.metaList li {
    display: inline-block;
}
ul.metaList li+li::before {
    content: "•";
    padding-left: 2px;
    padding-right: 5px;
}
.contributors {
    font-size: 14px;
    color: var(--blueFont);
    background-color: transparent;
    border: none;
    padding: 0;
}
.contributors:hover {
    color: var(--mainBlue);
    text-decoration: underline;
    cursor: pointer;
}
.feedbackMeta {
    color: var(--blueFont);
    font-weight: 600;
    padding: 4.5px 10.5px 4.5px 10.5px;
    border-radius: 2px;
    height: 31.5px;
    line-height: 1.4;
}
.feedbackMeta:hover {
    background-color: var(--dotsHoverWTF);
    color: var(--expDotsHoverWTF);
    cursor: pointer;
}
.navbarTitle {
    font-size: 18px;
    font-weight: 600;
    margin-top: 18px;
}
ol.artNavList {
    list-style: none;
    border-left: 1px var(--middleGrayBorder) solid;
    padding-left: 15px;
    font-size: 14px;
}
ol.artNavList li {
    padding-top: 5px;
    padding-bottom: 5px;
}
ol.artNavList li a {
    color:var(--blueFont);
    text-decoration: none;
}
ol.artNavList li a:hover {
    text-decoration: underline;
}
.additionals {
    /* height: 500px; */
    height: fit-content;
    padding: 24px;
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}
.additionals > * {
    width: auto;
    height: 100%;
}
.resources {
    height: auto;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.125;
    margin-top: 8px;
    border-block-end: 1px solid var(--middleGrayBorder);
    padding-bottom: 24px;
    margin-left: 3px;
}
.documentation {
    height: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    margin-top: 9px;
    margin-left: 27px;
}
.resourcesListContainer {
    margin-top: 2px;
}
.resourcesListUl {
    text-decoration: none;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
    margin-left: 3px;
}
ul.resourcesListUl li * {
    line-height: 1.3;
}
ul.resourcesListUl li p {
    margin-top: 8px;
    margin-bottom: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: var(--whiteBorderDif);
}
ul.resourcesListUl li a, .showMore {
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;
    color: var(--blueFont);
    font-weight: 600;
}
.showMore {
    background: none;
    border: none;
    padding-left: 0;
}
.showMore:hover, ul.resourcesListUl li a:hover {
    cursor: pointer;
    color: var(--mainBlue);
    text-decoration: underline;
}
ul.resourcesListUl li a:visited {
    color: var(--pinkFont);
}
/* .additionals > *:nth-child(odd)  {
    background-color: var(--middleGrayBorder);
}
 .additionals > *:nth-child(even)  {
    background-color:var(--footerBackground);
} */
.footer * {
    text-decoration: none;
    color: var(--textColorMain);
    font-size: 14px;
}
.footer {
    background-color: var(--footerBackground);
    border-block-start: 1px var(--middleGrayBorder) solid;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 48px 24px;
}
.footerButtons, .footerLinks {
    flex-wrap: wrap;
    align-items: center;
    margin: unset;
    display: flex;
}
.footerButtons {
    padding-left: 16px;
    gap: 1rem;
    line-height: 21px;
    height: 31.5px;
    cursor: pointer;
}
.footerButtons>*:hover {
    background-color: var(--backgroundSth);
    text-decoration: underline;
}
.footerButtons  *:not(svg, span) {
    font-weight: 600;
    /* padding-left: 12px; */
}
.footerButtons > * {
    display: flex;
    align-items: center;
    height: 100%;
}
.privacy {
    padding-right: 10px;
    padding-left: 5px;
}
.themeContainer {
    padding-left: 10px;
    padding-right: 10px;

}
.privacy > a {
    display: flex;
    align-items: center;
}
.footerButtons:last-child {
    padding-left: 23px;
}
.footerLinks > * {
    margin-top: 4px;
    margin-right: 24px;
}
ul.footerLinks {
    list-style: none;
    padding-left: 0;
    height: 30px;
}
ul.footerLinks button, .themeButton {
    background-color: unset;
    cursor: pointer;
    border: unset;
    padding: unset;
}
ul.footerLinks a:hover, ul.footerLinks button:hover{
    text-decoration: underline;
    cursor: pointer;
}
ul.footerLinks>li:last-child {
    margin-right: 0;
}
.themeListContainer {
    display: none;
}
.themeElem {
    display: none;
}
.squareArrowPlaceholder {
    display: inline-block;
    width: 10.5px;
}
.additionals {
    display: none;
}
.asideMobile {
    display: flex;
    flex-direction: column;
}
.asideMobile .resources {
    font-size: 28px;
    border-block-end: unset;
    padding: unset;
    margin: unset;
    margin-bottom: 24px;
}
.hrLine {
    border: none;
    border-block-end: 1px var(--middleGrayBorder) solid;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

@media screen and (min-width: 1800px) {
    .header, .footer, .headerPanel {
        padding-inline: calc(50% - 876px);
    }
    .main {
        width: 1800px;
        margin: calc(50% - 900px);
        margin-top: 0;
        margin-bottom: 0;
    }
}
/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 666px) {
    img {
        width: auto;
        max-width: -webkit-fill-available;
    }
    .article {
        width: 100%;
        padding-top: 0;
    }
    .article h2:not(.navbarTitle) {
    font-size: 28px;
    font-weight: 600;
    }
    .articleTitle {
        font-size: 33px;
    }
    .footerButtons {
        height: unset;
    }
    .footerButtons > * {
        padding: 4.25px 10.5px 4.25px 10.5px;
    }
    .footerLinks {
        margin-top: 16px;
    }
    ul.footerLinks {
        height: unset;
        padding-left: 16px;
    }
    ul.footerLinks li {
        margin-top: 8px;
        margin-right: 24px;
    }
    .lowerHeader, .expanders, .divider, .rightArrow, .leftArrow, .column {
        display: none;
    }
    .upperHeader * {
        margin: unset;
        padding: unset;
        left: unset;
        right: unset;
    }
    .upperHeader {
        /* justify-content:space-between */
        padding: unset;
        column-gap: unset;
    }
    .hamburgerMobile {
        display: flex;
        align-items: center;
        height: 60%;
        cursor: pointer;
    }
    .hamburgerIcon {
        display: block;
        width: 10px;
        height: 7px;
        margin-top: -1px;
        margin-right: 14px;
        margin-left: 15px;
        border-block-end: 1px var(--textColorMain) solid;
        border-block-start: 1px var(--textColorMain) solid;
        cursor: pointer;
    }
    .hamburgerIcon::after {
        content: "";
        display: block;
        width: 10px;
        height: 7px;
        transform: translate(0px, -5px);
        border-block-end: 1px var(--textColorMain) solid;
    }
    .mobileBackground {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        background-color: var(--almostBlack);
        z-index: 1;
    }
    .mobileNavigation {
        position: fixed;
        top: 0px;
        z-index: 1;
        height: 100dvh;
        width: 320px;
        background-color: var(--backgroundDark);
    }
    .mobileNavTop {
        display: flex;
        justify-content: space-between;
        height: 53px;
        border-block-end: 1px solid var(--middleGrayBorder);
    }
    .mobileLearn {
        width: 101px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
    }
    .mobileClose {
        width: 57px;
        border-left: 1px solid var(--middleGrayBorder);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobileButton {
        border: none;
        width: 0px;
        height: 0px;
    }
    .closeIcon {
        background-color: unset;
        border: unset;
    }
    .xUp, .xDown {
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        transform-origin: 1px 7px;
        border-bottom: 2px solid var(--textColorMain);
        border-left: 2px solid var(--textColorMain);
        box-sizing: border-box;
    }
    .xUp {
        transform: translate(-1px, -6px) rotate(-45deg);
        /* background-color: royalblue; */
    }
    .xDown {
        transform: translate(-1px, -6px) rotate(135deg);
        /* background-color: blueviolet; */
    }
    .contributorsFrame {
        width: 250px;
    }
    .closeContributors .closeIcon {
        top: 12px;
        left: 7px;
    }
    .mobileNavHeaderDev {
        height: 52.25px;
        font-size: 18px;
        font-weight: 600;
        padding: 16px;
    }
    .mobileNavBottom {
        height: 48.5px;
        border-block-start: 1px solid var(--middleGrayBorder);
        width: 100%;
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        padding: 8px;
    }
    .mobileNavContent button, .mobileNavContent a {
        background-color: unset;
        border: unset;
        text-decoration: unset;
        color: unset;
        font-size: 14px;
        font-weight: 600;
    }
    .mobileDashButton {
        color: var(--blueFont) !important;
    }
     .mobileNavLi:hover {
        background-color: var(--backgroundSth);
    }
    
    ul li.mobileNavLi {
        padding: 8px 17px;
        margin-top: 8px;
        height: 39px;
        display: flex;
        align-items: center;
    }
    .signIn, .dashboard {
        font-size: 14px;
    }
    .semiBold {
        font-weight: 600;
    }
    .mobileSign {
        font-size: 14px;
        color: black;
        border: 1px solid var(--blueFont);
        background-color: var(--blueFont);
        font-weight: 600;
        line-height: 1.5;
        padding: 4.25px 10.5px;
        border-radius: 2px;
    }
    .mobileSign:hover {
        background-color: var(--mainBlue);
    }
    /* .dashboard {
        margin-left: auto;
        color: black;
        border: 1px solid var(--blueFont);
        background-color: var(--blueFont);
        font-weight: 600;
        line-height: 1.5;
        padding: 4.25px 10.5px;
    }
    .dashboard:hover {
        text-decoration: underline;
        border: 1px solid var(--mainBlue);
        background-color: var(--mainBlue);
        cursor: pointer;
    } */
    /* ul li.mobileNavLi a, ul li.mobileNavLi button {
        height: 21px;
        display: flex;
        align-items: center;
    } */

    .learn {
        order: 1;
        font-size: 1.15rem;
        padding: 8px;
        padding-right: 0px;
        margin-left: 1px;
    }
    .logo {
        position: absolute;
        order: 2;
        margin-left: 50%;
        margin-right: 50%;
        transform: translate(-50%);
    }
    .searchButton {
        order: 3;
        margin-left: auto;
    }
    .signIn {
        order: 4;
        margin-right: 16px;
        padding-left: 21px;
    }
    .feedbackThanks {
        width: 95%;
        border-radius: 0px;
    }
}
@media screen and (min-width: 1088px) {
    .additionals {
        display: flex;
    }
    .asideMobile {
        display: none;
    }
    .footer {
        flex-flow: wrap;
        justify-content: space-between;
    }
    .panelCards.panelList {
        
        grid-template-rows: repeat(7, auto);
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.hidden {
    display: none;
}